{% verbatim %}
<div>
    <div class="groupshop-welcome-panel row">
        <div class="col-md-8">
            <img src="/public/img/banner.png" class="groupshop-banner-img" alt="Shop with GroupShop"/>
        </div>
        <div class="col-md-4">
            <p><a ui-sref="register">Sign up</a> to buffer your orders on the below outlets:</p>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://www.localbanya.com" class="thumbnail" target="_blank" title="Localbanya">
                        <img src="/public/img/rsz_localbanya.png" alt="Localbanya" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.bigbasket.com" class="thumbnail" target="_blank" title="Bigbasket">
                        <img src="/public/img/rsz_bigbasket.png" alt="Bigbasket" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.jabong.com" class="thumbnail" target="_blank" title="Jabong">
                        <img src="/public/img/rsz_jabong.png" alt="Jabong" />
                    </a>
                </div>
            </div>
            <hr/>
            <h3 class="groupshop-panel-title">Login</h3>
            <hr/>
            <login></login>
            <hr/>
            <p>Not registered? <a ui-sref="register">Register</a></p>
        </div>
    </div>
</div>
{% endverbatim %}