{% verbatim %}
<div class="row">
    <div class="col-xs-6 col-md-4" ng-repeat="order in orders">
        <a ui-sref="orderDetail({ id: order.id })" class="thumbnail" title="Click here to check the details of the clubbed order details.">
            <div class="groupshop-outlet-wrapper">
                <img src="/public/img/rsz_{{ order.online_store }}.png" alt="{{ order.online_store }}" />
            </div>
            <div class="caption row">

                <div class="col-md-6 col-xs-6">
                    <span class="label label-primary">{{ statuses[order.status] }}</span>
                    <h4><span class="label groupshop-label-info">&#8377; {{ order.total || '0' }}</span></h4>
                </div>

                <div class="col-md-6 col-xs-6 groupshop-order-options">
                    <div class="groupshop-order-owner small">
                        {{ order.owner.username }}
                        <span>&bullet; </span><span class="groupshop-order-timestamp">{{ order.created_at | date:'MMM dd' }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endverbatim %}