{% verbatim %}
<div class="profile" ng-show="profile">
    <div class="clearfix">
        <div class="groupshop-panel-title pull-left">
            <h3>{{ profile.username }}</h3>
            <small>Phone: {{ profile.phone }}</small>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" ng-show="isOwner" ng-click="edit()">
                <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit
            </a>
        </div>
    </div>
    <hr/>
    <orders orders="orders" ng-show="orders && orders.length"></orders>
</div>
{% endverbatim %}