{% verbatim %}
<div class="profile__settings" ng-show="profile">
    <h3 class="groupshop-panel-title">Profile Settings</h3>
    <hr/>
    <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
    <form role="form" class="settings" ng-submit="update()">
      <fieldset ng-disabled="isSaving">
          <div class="form-group">
            <label for="settings__email">Email</label>
            <input type="text" class="form-control" disabled id="settings__email" ng-model="profile.email" placeholder="ex. abc@spjimr.org" />
          </div>

          <div class="form-group">
            <label for="settings__username">Username</label>
            <input type="text" disabled class="form-control" id="settings__username" ng-model="profile.username" placeholder="ex. notpassword" />
          </div>

          <div class="form-group">
            <label for="settings__password">New Password</label>
            <input type="password" class="form-control" id="settings__password" ng-model="profile.password" placeholder="ex. notpassword" />
          </div>

          <div class="form-group">
            <label for="settings__confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="settings__confirm-password" ng-model="profile.confirm_password" placeholder="ex. notgoogleplus" />
          </div>

          <div class="form-group">
            <label for="settings__phone">Phone</label>
            <input type="text" class="form-control" id="settings__phone" pattern="[789][0-9]{9}" ng-model="profile.phone" placeholder="ex. 9999999999" required />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </fieldset>
    </form>
</div>
{% endverbatim %}