[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
    background-color: #e9e9e9;
    background-repeat: both;
    background-attachment: fixed;
    background-size: auto;
    background-position: top left;
    -webkit-text-size-adjust: none;
}

.groupshop-container {
    width: 1060px;
    margin: 0 auto;
}

.groupshop-intro {
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.groupshop-intro ul li {
    font-size: 15px;
    line-height: 20px;
}

.groupshop-navigation {
    color: #ffffff;
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    min-height: 50px;
    line-height: 30px;
    background-color: #666666;
    padding: 10px;
}

.groupshop-navigation ul {
    margin-bottom: 0;
}

.groupshop-navigation ul li a {
    margin-left: 5px;
}

.groupshop-footer {
    margin: 0 auto;
    width: 450px;
}

.groupshop-navigation a {
    color: #ffffff;
}

.groupshop-navigation a:hover {
    text-decoration: underline;
}

.groupshop-banner {
    height: 100px;
    margin: 0 auto;
    background-color: #20b2aa;
}

.groupshop-banner h2 {
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.06em;
    margin-top: 20px;
}

.groupshop-banner h2 a {
    color: #ffffff;
}

.groupshop-banner h2 a:hover,
.groupshop-banner h2 a:link,
.groupshop-banner h2 a:visited {
    text-decoration: none;
}

.groupshop-content {
    min-height: 600px;
    margin: 30px auto 30px auto;
    background-color: #ffffff;
    background-repeat: both;
    background-attachment: scroll;
    background-size: auto;
    background-position: top left;
    padding: 20px;
}

.groupshop-content h2 {
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.groupshop-welcome-panel {
 }

.groupshop-order-timestamp {
    color: #acacac;
}

.groupshop-panel-title {
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.groupshop-outlet-wrapper {
    border-bottom: 1px solid #ddd;
    min-height: 66px;
}

.groupshop-order-extra {
    color: #777;
    padding: 0 2px 2px 2px;
    text-align: right;
    display: block;
}

.groupshop-order-options {
    text-align: right;
}

.groupshop-order-owner {
    margin-top: 9px;
}

.groupshop-label-info {
    background-color: #20b2aa;
    font-weight: normal;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    width: 650px;
}

.groupshop-pager {
    margin: 10px 0 20px 0;
    text-align: left;
}

.groupshop-pager a {
    color: #333;
}

.groupshop-order-itemlink {
    text-overflow: ellipsis;
    display: block;
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
}

.groupshop-tour-tip {
    background-color: #666666;
    border-radius: 0;
    color: #ffffff;
}

.groupshop-tour-tip p {
    color: #ffffff;
}

.groupshop-tour-tip .tour-content-wrapper {
    padding: 1.125em 2.55em 1.5em 1.125em;
}

.groupshop-tour-tip .tour-arrow.tt-top{
    border-color: #666666 transparent transparent !important;
}
.groupshop-tour-tip .tour-arrow.tt-bottom{
    border-color: transparent transparent #666666 transparent !important;
}
.groupshop-tour-tip .tour-arrow.tt-left{
    border-color: transparent transparent transparent #666666 !important;
}
.groupshop-tour-tip .tour-arrow.tt-right{
    border-color: transparent #666666 transparent transparent !important;
}

.groupshop-banner-img {
    width: 100%;
}

.groupshop-product-panel {
    margin-bottom: 8px;
}