{% verbatim %}
<h3 class="groupshop-panel-title">Password Reset Request</h3>
<hr/>
<div class="row">
    <div class="col-md-6">
      <form role="form" ng-submit="reset()">
        <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name | friendlyField }}</strong>: {{ errs.join(', ') }}</p>
          <fieldset ng-disabled="isSaving">
            <div class="form-group">
              <label for="reset__email">Email</label>
              <input type="email" class="form-control" id="reset__email" ng-model="email" placeholder="ex. abc@spjimr.org" required />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
      </form>
    </div>
</div>
{% endverbatim %}