{% verbatim %}
<h3 class="groupshop-panel-title">Login</h3>
<hr/>
<div class="row">
    <div class="col-md-6">
        <login></login>
    </div>
</div>
<hr/>
<p>Not registered? <a ui-sref="register">Register</a></p>
{% endverbatim %}