{% verbatim %}
<h3 class="groupshop-panel-title">Password Reset</h3>
<hr/>
<div class="row">
    <div class="col-md-6">
      <form role="form" ng-submit="reset()">
        <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name | friendlyField }}</strong>: {{ errs.join(', ') }}</p>
        <fieldset ng-disabled="isSaving">
            <div class="form-group">
              <label for="reset__password">Password</label>
              <input type="password" class="form-control" id="reset__password" ng-model="password" placeholder="ex. notpassword" required />
            </div>

            <div class="form-group">
              <label for="reset__confirm_password">Confirm Password</label>
              <input type="password" class="form-control" id="reset__confirm_password" ng-model="confirm_password" placeholder="ex. notpassword" required />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
      </form>
    </div>
</div>
{% endverbatim %}