{% verbatim %}
<h3 class="groupshop-panel-title">Register</h3>
<hr/>
<div class="row">
    <div class="col-md-6">
      <form role="form" ng-submit="register()">
        <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name | friendlyField }}</strong>: {{ errs.join(', ') }}</p>
        <fieldset ng-disabled="isSaving">
            <div class="form-group">
              <label for="register__email">Email</label>
              <input type="email" class="form-control" id="register__email" ng-model="account.email" placeholder="ex. abc@spjimr.org" required/>
            </div>

            <div class="form-group">
              <label for="register__username">Username</label>
              <input type="text" class="form-control" id="register__username" ng-model="account.username" placeholder="ex. abc" required />
            </div>

            <div class="form-group">
              <label for="register__phone">Phone</label>
              <input type="text" class="form-control" id="register__phone" pattern="[789][0-9]{9}" ng-model="account.phone" placeholder="ex. 9999999999" required />
            </div>

            <div class="form-group">
              <label for="register__password">Password</label>
              <input type="password" class="form-control" id="register__password" ng-model="account.password" placeholder="ex. notpassword" required />
            </div>

            <div class="form-group">
              <label for="register__confirm_password">Confirm Password</label>
              <input type="password" class="form-control" id="register__confirm_password" ng-model="account.confirm_password" placeholder="ex. notpassword" required />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
      </form>
      <hr/>
      <p>Already registered? <a ui-sref="login">Login</a></p>
    </div>
</div>
{% endverbatim %}