{% load compress %}
    <!-- Libs -->
    {% compress js %}
    <!-- jQuery -->
    <script src="/public/libs/jquery/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="/public/libs/angularjs/angular.min.js"></script>
    <script src="/public/libs/angularjs/angular-ui-router.min.js"></script>
    <script src="/public/libs/angularjs/angular-resource.min.js"></script>
    <script src="/public/libs/angularjs/angular-cookies.min.js"></script>
    <script src="/public/libs/angularjs/angular-tour/angular-tour.js"></script>
    <script src="/public/libs/angularjs/ngDialog/js/ngDialog.min.js"></script>
    <!-- Snackbar -->
    <script src="/public/libs/snackbar/js/snackbar.min.js"></script>
    <!-- App -->
    <script src="/public/js/groupshop.js"></script>
    <script src="/public/js/groupshop.config.js"></script>
    <script src="/public/js/groupshop.routes.js"></script>
    <!-- Layout -->
    <script src="/public/js/layout/layout.module.js"></script>
    <script src="/public/js/layout/controllers/navbar.controller.js"></script>
    <script src="/public/js/layout/controllers/index.controller.js"></script>
    <!-- Utils -->
    <script src="/public/js/utils/utils.module.js"></script>
    <script src="/public/js/utils/services/snackbar.service.js"></script>
    <script src="/public/js/utils/filters/friendly-field.js"></script>
    <!-- Authentication -->
    <script src="/public/js/authentication/authentication.module.js"></script>
    <script src="/public/js/authentication/controllers/register.controller.js"></script>
    <script src="/public/js/authentication/controllers/login.controller.js"></script>
    <script src="/public/js/authentication/controllers/forgot-password.controller.js"></script>
    <script src="/public/js/authentication/controllers/password-reset.controller.js"></script>
    <script src="/public/js/authentication/controllers/account-activation.controller.js"></script>
    <script src="/public/js/authentication/directives/login.directive.js"></script>
    <script src="/public/js/authentication/services/authentication.service.js"></script>
    <!-- Profiles -->
    <script src="/public/js/profiles/profiles.module.js"></script>
    <script src="/public/js/profiles/services/profiles.service.js"></script>
    <script src="/public/js/profiles/controllers/profile.controller.js"></script>
    <script src="/public/js/profiles/controllers/profile-settings.controller.js"></script>
    <!--- Orders -->
    <script src="/public/js/orders/orders.module.js"></script>
    <script src="/public/js/orders/directives/orders.directive.js"></script>
    <script src="/public/js/orders/directives/order-new-btn.directive.js"></script>
    <script src="/public/js/orders/services/orders.service.js"></script>
    <script src="/public/js/orders/controllers/index.controller.js"></script>
    <script src="/public/js/orders/controllers/order-new-btn.controller.js"></script>
    <script src="/public/js/orders/controllers/orders.controller.js"></script>
    <script src="/public/js/orders/controllers/detail.controller.js"></script>
    <script src="/public/js/orders/controllers/new.controller.js"></script>
    <script src="/public/js/orders/controllers/edit.controller.js"></script>
    <!-- Products -->
    <script src="/public/js/products/products.module.js"></script>
    <script src="/public/js/products/services/products.service.js"></script>
    <script src="/public/js/products/controllers/form.controller.js"></script>
    <script src="/public/js/products/directives/form.directive.js"></script>
    {% endcompress %}
    <!-- Footer -->
    <div class="groupshop-navigation groupshop-container">
        <ul class="groupshop-footer list-inline">
            <li><a href="#">privacy policy</a></li><li>/</li>
            <li><a href="#">terms of use</a></li><li>/</li>
            <li><a href="#">about</a></li><li>/</li>
            <li><a href="mailto:groupshop.co.in@gmail.com">contact</a>
        </ul>
    </div>
</body>
</html>