{% load staticfiles %}
{% load compress %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <title>groupshop</title>
    {% compress css %}
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/libs/snackbar/css/snackbar.min.css"/>
    <link rel="stylesheet" href="/public/libs/snackbar/css/material.css"/>
    <link rel="stylesheet" href="/public/libs/angularjs/angular-tour/angular-tour.css"/>
    <link rel="stylesheet" href="/public/libs/angularjs/ngDialog/css/ngDialog.min.css"/>
    <link rel="stylesheet" href="/public/libs/angularjs/ngDialog/css/ngDialog-theme-plain.min.css"/>
    <link rel="stylesheet" href="/public/css/font-face.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    {% endcompress %}
</head>
<body ng-app="groupshop">
    <div class="groupshop-navigation" ng-controller="NavBarCtrl">
        <div class="groupshop-container clearfix" ng-cloak>
            <ul class="pull-right list-inline" ng-show="isAuthenticated">
                <li><span class="glyphicon glyphicon-home"></span><a ui-sref="home">home</a></li><li>/</li>
                <li><span class="glyphicon glyphicon-th-list"></span><a ui-sref="orders">orders</a></li><li>/</li>
                <li><span class="glyphicon glyphicon-user"></span><a ui-sref="profile({ username: user.username })">profile</a></li><li>/</li>
                <li><span class="glyphicon glyphicon-log-out"></span><a href="javascript:void(0)" ng-click="logout()">logout</a></li>
            </ul>
        </div>
    </div>
    <div class="groupshop-banner">
        <div class="row groupshop-container">
            <h2 class="col-md-4"><a ui-sref="home">groupshop</a></h2>
        </div>
    </div>

