{% verbatim %}
<div class="dialog-contents">
    <p>Are you sure you want to delete?</p>
    <button class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
    <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
</div>
{% endverbatim %}