{% verbatim %}
<div class="clearfix">
    <div class="pull-left">
        <div>
            <img src="/public/img/rsz_{{ order.online_store }}_left.png" alt="{{ order.online_store }}" />
        </div>
        <span class="label label-primary">{{ statuses[order.status] }}</span>
        <h4><span class="label groupshop-label-info">&#8377; {{ order.total }}</span></h4>
    </div>
    <div class="pull-right">
        <order-new-btn></order-new-btn>

        <button class="btn btn-danger" title="Add products to my localbanya cart"
                ng-if="isOwner() && order.online_store=='localbanya'" ng-disabled="order.status=='2'" ng-click="placeOrder()">
            Export&nbsp;<span class="glyphicon glyphicon-export"></span>
        </button>

        <!-- Split button -->
        <div class="btn-group" ng-show="order.status!='2' && isOwner()">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Options <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="edit()" href="javascript:void(0);"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a></li>
            <li><a ng-click="delete()" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a></li>
          </ul>
        </div>
    </div>
</div>
<hr/>

<h4>Items</h4>
<table class="table table-striped table-bordered" ng-cloak>
    <thead>
        <tr>
            <th>#</th>
            <th>Order</th>
            <th>User</th>
            <th>Phone No</th>
            <th>Item Link</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products_all">
            <td>{{ $index+1 }}</td>
            <td>
                <a ui-sref="orderDetail({ id: product.order.id })" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
            </td>
            <td>
                <a ui-sref="profile({ username: product.order.owner.username })" target="_blank">{{ product.order.owner.username }}</a>
            </td>
            <td>{{ product.order.owner.phone }}</td>
            <td>
                <a href="{{ product.link }}" target="_blank" class="groupshop-order-itemlink">{{ product.link }}</a>
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>
<hr/>
<h4>Notes</h4>
<p>{{ order.body }}</p>
<hr/>
<div>
    <a ui-sref="profile({ username: order.owner.username })">{{ order.owner.username }}</a>
    <span class="groupshop-order-timestamp">posted on {{ order.created_at | date:'MMM dd' }}</span>
</div>
{% endverbatim %}