{% verbatim %}
<p>Are you sure you want to close (all changes will be lost) ?</p>
<div class="ngdialog-buttons">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="confirm(1)">Yes</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog(0)">No</button>
    </div>
</div>
{% endverbatim %}