{% verbatim %}
<tour step="currentStep" post-step="postStepCallback()">
    <div class="groupshop-order">
        <h3 class="groupshop-panel-title">{{ name }} Order</h3>
        <hr/>
        <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name | friendlyField }}</strong>: {{ errs.join(', ') }}</p>
        <form role="form" ng-submit="save()">
            <fieldset ng-disabled="isSaving">
                <div class="form-group">
                    <label for="order__outlet" tourtip="Click here to select the online store" tourtip-placement="left" tourtip-step="0"
                            tourtip-offset="0" tourtip-next-label="Next">Online Store</label>
                    <select class="form-control" id="order__outlet" ng-model="order.online_store" title="Click here to select the online store" required ng-options="outlet.id as outlet.name for outlet in outlets"></select>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="clearfix groupshop-product-panel">
                        <label for="order__product-group" tourtip="Click to add product links from the online store" tourtip-placement="left" tourtip-step="1"
                                tourtip-offset="0" tourtip-next-label="Next">Products</label>
                        <button class="btn btn-danger pull-right" title="Import cart from localbanya"
                                ng-if="order.online_store=='localbanya' && name!='Edit'"
                                ng-click="import()" ng-disabled="importDisabled">Import&nbsp;<span class="glyphicon glyphicon-import"></span>
                        </button>
                    </div>

                    <product-group-form id="order__product-group" products="products"></product-group-form>
                </div>
                <div class="form-group">
                    <label for="order__body">Notes</label>
                    <textarea class="form-control" id="order__body" rows="3" ng-model="order.body" placeholder="Notes"></textarea>
                </div>
                <div class="form-group" ng-show="statuses && statuses.length">
                    <label for="order__status">Status</label>
                    <select class="form-control" ng-model="order.status" id="order__status" title="Select the order(s) to club your products" ng-options="status.id as status.name for status in statuses"></select>
                </div>
                <div class="form-group" ng-show="order.status !== 2" tourtip="Select the order with which you want to club your order" tourtip-placement="left" tourtip-step="2"
                            tourtip-offset="0" tourtip-next-label="Got it!">
                    <label for="order__group-orders">Group Orders</label>
                    <select class="form-control" ng-model="abc.group_orders" id="order__group-orders" multiple ng-options="rel_order.id as rel_order.total for rel_order in rel_orders"></select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</tour>
{% endverbatim %}