{% verbatim %}
<tour step="currentStep" post-step="postStepCallback()">
    <div class="clearfix">
        <h3 class="groupshop-panel-title pull-left" tourtip="Click here to view details of clubbed orders"
                tourtip-step="1" tourtip-placement="top" tourtip-next-label="Got it!" tourtip-offset="-80">
            Orders
        </h3>
        <div class="pull-right">
            <span tourtip="Click here to create a new clubbed order" tourtip-step="0"
             tourtip-placement="top" tourtip-next-label="Next" tourtip-offset="20"></span>
            <order-new-btn></order-new-btn>
        </div>
    </div>
    <hr/>
    <orders orders="orders" ng-show="orders && orders.length"></orders>
</tour>
{% endverbatim %}
