{% verbatim %}
<form role="form" ng-submit="login()">
    <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
    <fieldset ng-disabled="isSaving">
        <div class="form-group">
          <label for="login__email">Email</label>
          <input type="email" class="form-control" id="login__email" ng-model="email" placeholder="ex. abc@spjimr.org" required />
        </div>

        <div class="form-group">
          <label for="login__password">Password</label>
          <input type="password" class="form-control" id="login__password" ng-model="password" placeholder="ex. notmypassword" required />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>
<p><a href="javascript:void(0);" ng-click="forgotPassword()">Forgot Password</a>?</p>
{% endverbatim %}