{% verbatim %}
<div class="form-group form-inline">
    <div class="form-group">
        <label class="sr-only" for="product__link">Product Link</label>
        <input class="form-control" type="url" ng-model="product.link" id="product__link" placeholder="ex. www.localbanya.com/products" required />
    </div>
    <div class="form-group">
        <label class="sr-only" for="product__qty">Product Quantity</label>
        <input class="form-control" type="number" step="any" ng-model="product.quantity" id="product__qty" placeholder="Product Quantity ex 1.2" required />
    </div>
    <div class="form-group">
        <label class="sr-only" for="product__price">Product Price</label>
        <input class="form-control" type="number" step="any" ng-model="product.price" id="product__price" placeholder="Product Price ex 200" required/>
    </div>
</div>
{% endverbatim %}