{% verbatim %}
<div ng-repeat="product in products">
    <product-form product="product"></product-form>
</div>
<div class="form-group">
    <a class="btn btn-default" ng-click="addProduct()" title="Click to add your product link from the above online store"><span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-default" ng-click="removeProduct()" title="Remove this product"><span class="glyphicon glyphicon-minus"></span></a>
</div>
{% endverbatim %}